html, body {
    height: 100%;
}

body {
    background: #f2f2f2;
    font-family: 'Ubuntu', 'Lucida Grande', 'Lucida Sans Unicode',
               'Geneva', 'Verdana', sans-serif
}

h2 {
    font-size: 16px;
    font-weight: normal;
    margin: 1.3em 0 0 0;
    padding: 9px;
    background-color: #11557C;
    color: white;
    display: block;
}

a {
    color: #555;
}

.container {
    width: 40%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #11557C;
    border-right: none;
    padding: 5px;
    height: 30px;
    outline: none;
    color: #A5D6D9;
    font-size: 18px;
}

.searchTerm:focus{
    color: #11557C;
}

.searchButton {
    width: 50px;
    height: 46px;
    border: 1px solid #11557C;
    background: #11557C;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 22px;
}

.wrapper {
    width: 50%;
    position: absolute;
    top: 35%;
    left: 25%;
    padding-bottom: 50px;
}

.results {
    padding: 5px;
    list-style-type: none;
}

.item {
    padding: 5px;
    background: #fff;
    border: 2px solid #11557C;
    font-size: 12px;
    margin: 7px;
}

p {
    padding: 0;
    margin: 0;
    color: #0a7e86;
}

h4 {
    display: inline;
}

.collapsible {
    cursor: pointer;
    display: flex;
}

.info-container {
    width: 95%;
}

.modify-container {
    flex-grow: 1;
    text-align: left;
}

.treshold-search {
    width: 30%;
    border: 2px solid lightgrey;
}

.treshold-search:focus {
    outline-width: 0;
}

.treshold-button {
    border: 2px solid #11557C;
    background: #11557C;
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.treshold-button:focus {
    outline-width: 0;
}

.switch {
    margin-top: 5px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 16px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4bae50;
}

input:checked + .slider:before {
  -webkit-transform: translateX(14px);
  -ms-transform: translateX(14px);
  transform: translateX(14px);
}

.slider.round {
  border-radius: 16px;
}

.slider.round:before {
  border-radius: 50%;
}

.content {
    padding: 0 18px;
    background-color: #f1f1f1;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.info {
    visibility: hidden;
}

.price-chart {
    width: 49%;
    padding: 10px 0;
    float: left;
}

.quantity-chart {
    width: 49%;
    padding: 10px 0;
    float: right;
}

.pagination {
    width: 50%;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
}
