<!doctype html>
<title>BolBot</title>
<link rel="shortcut icon" href="../static/images/box.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style.css">
<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script type="text/javascript" src="../static/app.js"></script>
<a id="home_ref" href="/"><img src="../static/images/storage.svg" width="64" height="64"></a>
<div class="container">
    <form class="search">
        <input type="text" class="searchTerm" placeholder="Search..." name="search" spellcheck="false">
        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="wrapper">
    {% if result_size is defined %}
        <h2>{{result_size}} results</h2>
    {% endif %}
    {% if result_size is defined %}
        {% if result_size > 0 %}
            <ul class="results">
                {%- for product in products %}
                        <li class="item">
                            <div class="collapsible">
                                <div class="info-container">
                                    <p><h4>url</h4>&nbsp;<a href="{{product.url}}" target="_blank">{{product.url}}</a></p>
                                    <p><h4>ref. price</h4>&nbsp;&euro; {{product.price}}</p>
                                    <p><h4>last modified at</h4>&nbsp;{{product.last_modified}}</p>
                                    <p><h4>treshold</h4>&nbsp;{{product.treshold}}</p>
                                </div>
                                <div class="modify-container">
                                    <p><h4>
                                    <form method="post" onsubmit="return postTreshold(this);" data-url="{{product.url}}">
                                        <input type="text" class="treshold-search" name="treshold" required=true pattern="^\d+(\.\d{1,2})?$" oninvalid="warn(this);this.setCustomValidity(' ');" onchange="this.setCustomValidity('')" spellcheck="false">
                                        <button type="submit" class="treshold-button" name="update">Submit</button>
                                    </form>
                                    </h4></p>
                                    <p><h4>
                                        <label class="switch">
                                            {% if product.auto_buy %}
                                                <input type="checkbox" checked onclick="postAutoBuy(this);" data-url="{{product.url}}">
                                            {% else %}
                                                <input type="checkbox" onclick="postAutoBuy(this);" data-url="{{product.url}}">
                                            {% endif %}
                                            <span class="slider round"></span>
                                        </label>
                                    </h4></p>
                                </div>
                            </div>
                            <div class="content">
                                <div class="info" data-chart="{{price_histories[product.url]}}"></div>
                                <div class="info" data-chart="{{quantity_histories[product.url]}}"></div>
                                <div class="price-chart" id="#A{{loop.index}}">

                                </div>
                                <div class="quantity-chart" id="#B{{loop.index}}">

                                </div>
                            </div>
                        </li>
                {%- endfor %}
            </ul>
        {% endif %}
    {% endif %}
    <div class="pagination">
        {% if page_count is defined %}
            {%- for n in range(page_count) %}
                <a href="{{query_param}}&page={{n+1}}">{{n+1}}</a>
            {%- endfor %}
        {% endif %}
    </div>
</div>
