<!doctype html>
<title>BolBot</title>
<link rel="shortcut icon" href="../static/images/box.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/style.css">
<div class="container">
    <form class="search">
        <input type="text" class="searchTerm" placeholder="Search..." name="search", spellcheck="false">
        <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
    </form>
</div>
<div class="wrapper">
    {% if products|length > 0 %}
        <h2>{{ products|length }} results</h2>
        <ul class="results">
            {%- for product in products %}
                    <li class="item">
                        <div class="collapsible">
                            <p><a href="{{product.url}}" target="_blank">{{product.url}}</a></p>
                            <p>&euro; {{product.price}}</p>
                            <p>{{product.last_modified}}</p>
                        </div>
                        <div class="content">
                            <ul class="results">
                            {%- for price in prices %}
                                {% if product.url == price.url %}
                                    <li class="item">
                                        <p>&euro; {{price.value}}</p>
                                        <p>{{price.inserted}}</p>
                                    </li>
                                {% endif %}
                            {%- endfor %}
                            </ul>
                        </div>
                    </li>
            {%- endfor %}
        </ul>
    {% elif products is defined %}
        <h2>0 results</h2>
    {% endif %}
</div>
<script src="../static/app.js"></script>